nav{
    height: 60px;
    background-color: crimson;
    width: 100%;
}
main .left-container{
    width: 10%;
    height: calc(100% - 60px);
    
}
.left-container{
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: #051E34;
   
    
}
.logo-mobile{
    height: 2rem;
}
main .right-container{
    width: calc(100% - 10%);
    height: 100vh;
    overflow: auto;
    
    
    
   
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    
}
.box-left{
    width: 100%;
    height: 100vh;
    color: white;
    
    font-size: 14px;
}
.box-left i{
    padding-right: 0.5rem;
}
.box{
    width: 100%;
    margin-top: 2rem;
}
.box-upper{
    height: 100%;
    width: 100%;
    background-color: #1B72E8;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 1rem;
}
.btn-app button{
   border-radius: 25px; 
   background-color: #165BBA;
}
.class-container{
    height: 100%;
    width: 100%;
}
table button{
    border-radius: 25px;
}
.card-head-box{
    border-bottom: 2px solid black;
}
.fa-trash{
    padding: 0.4rem;
    border: 1px solid black;
    margin: 0.2rem;
    border-radius: 5px;
}
.fa-pencil{
    padding: 0.4rem;
    border: 1px solid black;
    margin: 0.2rem;
    border-radius: 5px;
}
th img{
    width: 1.5rem;
    padding-right: 0.25rem;
}
@media screen and (max-width: 576px) {
    li{
        font-size: 12px;
    }
    button{
        font-size: 12px;
    }
}


